* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  background-color: #ebf2f7;
}
.sidebar {
  width: 25%;
  background-color: #ebf2f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.right-side {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-sidebar {
  margin-top: 50px;
  width: 80%;
}
.hi-reader {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.person-img {
  height: 50px;
  width: 50px;
  background-color: grey;
  margin-right: 10px;
  border-radius: 50%;
}
.view-toggle {
  background-color: #fff;
  padding: 15px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.toggle {
  background-color: #dbe3eb;
  width: 70%;
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
}
.active-list {
  background-color: #99efc9;
  color: #444;
}
.nav {
  display: block;
  border-radius: 10px;
  width: 100%;
  color: #9c9c9c;
  font-size: 28px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  grid-gap: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.grid-card {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
}
.summary {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
}
.pagination-number {
  display: flex;
}
.pagination-number li {
  list-style: none;
  display: block;
  cursor: pointer;
  border: 1px solid #999;
  margin-left: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}
.active {
  background-color: #999;
  color: #000;
}
.list-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.list-card {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.feedback {
  background-color: #fff;
  padding: 15px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.feedback h4 {
  margin-top: 18px;
  background-color: #99efc9;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}
.modal-container {
  display: flex;
}
.modal-right-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.modal-hi-header,
.modal-inner-feedback {
  background-color: #fff;
  width: 75%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
}
.modal-inner-feedback {
  flex-direction: column;
  align-items: center;
}
.modal-inner-feedback h4 {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e9a2a5;
}
.input {
  width: 60%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}
.txt-area {
  width: 500px;
}
.submit {
  padding: 8px 20px;
  font-size: 16px;
  background-color: #99efc9;
  border: none;
  color: #fff;
  font-weight: 600;
}
